<h1>Contact form component</h1>

<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Name</label>
    <input id="name" type="text" formControlName="name" />
    <div
      *ngIf="
        contactForm.controls['name'].errors &&
        (contactForm.controls['name'].dirty ||
          contactForm.controls['name'].touched)
      "
    >
      <div *ngIf="contactForm.controls['name'].errors['required']">
        Name is required
      </div>
    </div>
  </div>

  <div>
    <label for="email"> Email </label>
    <input id="email" type="text" formControlName="email" />
  </div>

  <div>
    <label for="contact"> Contact </label>
    <input id="contact" type="text" formControlName="contact" />
  </div>

  <button class="button" type="submit">
    {{ isUpdate ? "Update" : "Add" }}
  </button>
</form>
