<h1>Contact form component</h1>

<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Name</label>
    <input id="name" type="text" formControlName="name" />
    <div
      *ngIf="
        contactForm.controls['name'].errors &&
        (contactForm.controls['name'].dirty ||
          contactForm.controls['name'].touched)
      "
    >
      <div *ngIf="contactForm.controls['name'].errors['required']">
        Name is required
      </div>
    </div>
  </div>

  <div>
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        formControlName="email"
        placeholder="Ex. pat@example.com"
      />
      <mat-error *ngIf="contactForm.controls['email'].hasError">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <label for="contact"> Contact </label>
    <input id="contact" type="text" formControlName="contact" />
  </div>

  <button class="button" type="submit">
    {{ isUpdate ? "Update" : "Add" }}
  </button>
</form>
