<div class="card-container">
  <mat-card *ngIf="contact; else noContactDetail">
    <mat-card-header>
      <mat-card-title class="contact-view-title">{{
        contact.name
      }}</mat-card-title>
      <mat-card-subtitle>{{ contact.id }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Email: {{ contact.email }}</p>
      <p>Contact: {{ contact.contact }}</p>
      <p>test</p>
    </mat-card-content>
  </mat-card>
</div>
<button class="button" (click)="goBack()">
  <span class="material-symbols-outlined"> arrow_back </span>Back
</button>

<div class="card-container"></div>
<ng-template #noContactDetail>
  <div>No contact details to display</div>
</ng-template>
